.container {
  padding: 12px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border: solid black 2.5px;
  border-radius: 10px;
}

.name {
  color: black;
  font-size: 32px;
  text-align: center;
  font-weight: 600;
}

.tagList {
  list-style: none;
  background-color: gray;
}
