.table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: solid black 2px;
}

.tHead {
  height: 40px;
  width: calc(100% / 3);
  background-color: rgb(59, 59, 59);
  border: 1px solid black;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.trTable {
  font-size: 20px;
  text-transform: capitalize;
}

.trTable:nth-child(odd) {
  height: 40px;
  background-color: white;
}

.trTable:nth-child(even) {
  height: 40px;
  background-color: rgb(209, 208, 208);
}

.tdTable {
  border: solid black 2px;
}
